<md-dialog>
  <md-content class="sticky-container">
    <div class="dialog-content">
      <h2>{{ vm.card.title }}</h2>
      <p ng-hide="vm.editingDescription" ng-click="vm.editingDescription = true">
        {{ vm.card.description || 'No description' }}
      </p>
      <textarea ng-show="vm.editingDescription" ng-blur="vm.editingDescription = false" ng-model="vm.card.description"></textarea>
      <h3>Action Items</h3>
        <p ng-hide="vm.editingActionItems" ng-click="vm.editingActionItems = true">
        {{ vm.card.actionItems || 'No action items' }}
      </p>
      <textarea ng-show="vm.editingActionItems" ng-blur="vm.editingActionItems = false" ng-model="vm.card.actionItems"></textarea>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="vm.close('close')">
      Close
    </md-button>
    <md-button ng-if="vm.card.status !== 'discussed'" ng-click="vm.close('discussed')" class="md-primary md-raised">
      Discussed
    </md-button>
  </div>
</md-dialog>
