<md-dialog>
  <md-content class="sticky-container">
    <div class="dialog-content">
      <h2>{{ vm.card.title }}</h2>
      <div edit-in-place="true" default-text="No Description">
          <textarea edit-this ng-model="vm.card.description"></textarea>
      </div>

      <h3>Action Items</h3>
      <div class="action-items" edit-in-place="true" default-text="No action items">
          <textarea edit-this ng-model="vm.card.actionItems"></textarea>
      </div>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="vm.close('close')">
      Close
    </md-button>
    <md-button ng-if="vm.card.status !== 'discussed'" ng-click="vm.close('discussed')" class="md-primary md-raised">
      Discussed
    </md-button>
  </div>
</md-dialog>
