<md-card class="retro-item">
    <md-card-header>
        <md-button class="md-warn" ng-click="vm.removeCard()">
            <i class="fa fa-remove fa-2"></i>
        </md-button>
    </md-card-header>

    <md-card-content ng-if="!vm.editing">
        <strong ng-click="vm.startEditing()">{{ vm.card.title }}</strong>
    </md-card-content>

    <md-card-footer>
        <md-button
            ng-click="vm.toggleVote()"
            ng-if="vm.card.status !== 'discussed'"
            class="md-primary">
            <span>{{ vm.card.votes }} <i class="fa fa-thumbs-up"></i></span>
        </md-button>
        <md-button class="md-primary" ng-click="vm.viewCard(vm.card)">
            View Card
        </md-button>
    </md-card-footer>

    <md-card-content ng-if="vm.editing">
        <md-input-container>
            <label>Card Title</label>
            <textarea ng-model="vm.card.title" ng-blur="vm.stopEditing()"></textarea>
        </md-input-container>
    </md-card-content>
</md-card>
