<md-card class="retro-item">
    <div ng-if="!vm.editing">
        <div ng-click="vm.editing = true">{{ vm.card.title || '&nbsp;' }}</div>
        <md-button class="md-primary" ng-click="vm.toggleVote()">
            <span>{{ vm.card.votes }} <i class="fa fa-thumbs-up"></i></span>
        </md-button>
        <md-button class="md-primary" ng-click="vm.viewCard(vm.card)">
            View Card
        </md-button>
    </div>

    <div ng-if="vm.editing">
        <textarea ng-model="vm.card.title"></textarea>
        <input type="submit" value="Save" ng-click="vm.editing = false">
    </div>
</md-card>
