<!DOCTYPE html>
<html ng-app="retro" ng-cloak>
<head>
    <title>Retro</title>
    <link href="/lib/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-controller="MainController" ng-hide>
    <div layout="row">
        <md-sidenav md-is-open="true" md-component-id="left" class="md-sidenav-left">
            <h3>Boards</h3>
            <md-list>
                <md-item>
                    <md-item-content>
                        <input type="text" ng-model="newBoardName">
                        <md-button ng-click="addBoard(newBoardName)">
                            <i class="fa fa-plus fa-2"></i>
                        </md-button>
                    </md-item-content>
                </md-item>
                <md-item ng-repeat="board in boards">
                    <md-item-content ng-click="openBoard(board)">
                        <div class="md-tile-content">{{ board.name }}</div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-sidenav>
        <md-content flex="100">
            <md-button ng-click="toggleLeftMenu()">
                <i class="fa fa-bars fa-2"></i>
            </md-button>
            <retro-board class="container" data="activeBoard"></retro-board>
        </md-content>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/firebase/firebase.js"></script>
    <script src="/lib/angularfire/dist/angularfire.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/lodash/lodash.js"></script>

    <script src="/js/main.js"></script>

</body>
</html>
