<!DOCTYPE html>
<html ng-app="retro" ng-cloak>
<head>
    <title>Retro</title>
    <link href="/lib/angular-material/angular-material.css" rel="stylesheet" type="text/css">
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>
<body ng-hide>
    <div retro-board class="container">
        <div layout="row">
            <div flex="20" class="bgray">
                <h3>Board Name</h3>
                <md-list>
                    <md-item ng-repeat="attendee in vm.attendees">
                    <md-item-content>
                        <div class="md-tile-content">
                            <div
                                class="attendee"
                                ng-class="{ 'is-done': attendee.isDone  }"
                                ng-click="attendee.isDone = !attendee.isDone">{{ attendee.name }}</div>
                        </div>
                    </md-item-content>
                    </md-item>
                </md-list>
            </div>
        <div flex="40" class="blightblue">
            <h3>To Discuss</h3>
        </div>
            <div flex="20" class="bgray">
                <h3>Discussed</h3>
            </div>
        </div>
    </div>

    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/lib/angular-animate/angular-animate.js"></script>
    <script src="/lib/firebase/firebase.js"></script>
    <script src="/lib/angularfire/dist/angularfire.js"></script>
    <script src="/lib/angular-aria/angular-aria.js"></script>
    <script src="/lib/angular-material/angular-material.js"></script>
    <script src="/lib/lodash/lodash.js"></script>

    <script src="/js/main.js"></script>

</body>
</html>
