<div layout="row">
    <md-sidenav md-is-open="true" md-component-id="left" class="md-sidenav-left">
        <h3>Boards</h3>
        <md-list>
            <md-item>
                <md-item-content>
                    <input type="text" ng-model="vm.newBoardName">
                    <md-button ng-click="vm.addBoard(newBoardName)">
                        <i class="fa fa-plus fa-2"></i>
                    </md-button>
                </md-item-content>
            </md-item>
            <md-item ng-repeat="board in vm.boards">
                <md-item-content ng-click="vm.openBoard(board)">
                    <div class="md-tile-content">{{ board.name }}</div>
                </md-item-content>
            </md-item>
        </md-list>
    </md-sidenav>
    <md-content flex="100">
        <md-button ng-click="vm.toggleLeftMenu()">
            <i class="fa fa-bars fa-2"></i>
        </md-button>
        <retro-board class="container" data="vm.activeBoard"></retro-board>
    </md-content>
</div>
