@import 'lesshat';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.is-done {
  font-weight: bold !important;
}

.board-user {
  &:hover {
    .board-remove-user  {
    opacity: 1;
    }
  }

  .board-remove-user {
    opacity: 0;
    .transition(opacity .25s ease-in-out);
  }
}

md-dialog {
    min-width: 50%;
}

md-card {
  position: relative;

  // Anchor the footer at the bottom
  md-card-footer {
    position: absolute;
    bottom: 0;
    order: 2;
  }

  // Make sure there is sufficient room
  // so the footer is separated for the content
  md-card-content {
    padding: 10px;
    margin-bottom: 50px;
  }

  padding: 10px;
}
