@import 'lesshat';

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.is-done {
  font-weight: bold !important;
}

.edit-in-place {
  cursor: text;

  &.static-text {
    font-weight: normal;
  }

  &.default-text {
    font-style: italic;
  }
}

.retro-item {
  cursor: pointer;

  .edit-in-place.static-text {
    font-weight: bold;
  }
}

.retro-dialog {
  .edit-in-place {
    &.static-text {
      white-space: pre-wrap;
    }
  }

  textarea {
    width: 100%;
  }
}

.remove() {
  &:hover {
    .fa-remove {
      opacity: 1;
    }
  }

  .fa-remove {
    opacity: 0;
    .transition(opacity .25s ease-in-out);
  }
}

.board-user,
.retro-item {
  .remove();
}

md-dialog {
  min-width: 50%;
}

md-card {
  position: relative;

  .md-card-close {
    position: absolute;
    top: 0;
    right: 0;
  }

  // Anchor the footer at the bottom
  md-card-footer {
    position: absolute;
    bottom: 0;
    order: 2;
  }

  // Make sure there is sufficient room
  // so the footer is separated for the content
  md-card-content {
    padding: 10px;
    margin-bottom: 50px;
  }
}
